@model Accounting.Models.DeploymentAndProvisioning.CloudServiecsKeysViewModel

@{
  ViewData["Title"] = "Cloud Services Keys - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Cloud Services Keys";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<table class="border-collapse width-100 margin-bottom-5px">
  <thead class="border-bottom-1px-solid-1a3b56 font-Roboto">
    <tr>
      <th class="text-align-left width-1px padding-right-20px fitwidth">Cloud Service</th>
      <th class="text-align-right width-1px">Key Status</th>
    </tr>
  </thead>
  <tbody class="font-Roboto-Mono">
    <tr>
      <td class="padding-right-20px text-align-left">
        <a href="@Url.Action("SetKey", "DeploymentAndProvisioning", new { cloudService = "DigitalOcean" })" class="padding-left-20px">Digital Ocean</a>
      </td>
      <td class="text-align-right">@Model.DigitalOceanKey</td>
    </tr>
    <tr>
      <td class="padding-right-20px text-align-left">SendGrid</td>
      <td class="text-align-right">@Model.SendGridKey</td>
    </tr>
    <tr>
      <td class="padding-right-20px text-align-left">OpenAI</td>
      <td class="text-align-right">@Model.OpenAIKey</td>
    </tr>
  </tbody>
</table>