@model Accounting.Models.SecretViewModels.CreateSecretViewModel

@{
  ViewData["Title"] = "Create Secret - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Create Secret";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<form asp-action="Create" asp-controller="Secret" method="post"
      class="display-flex flex-direction-column margin-bottom-5px">

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite box-shadow">
    <label asp-for="Key"></label>
    <input asp-for="Key" class="font-size-20px" />
    <span>
      <input asp-for="Master" type="checkbox" class="margin-bottom-5px" />
      <label asp-for="Master">Master (unique per organization, deletes existing if exists)</label>
    </span>
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite box-shadow">
    <label asp-for="Value"></label>
    <input asp-for="Value" class="font-size-20px" />

    <span>
      <input asp-for="EncryptValue" type="checkbox" class="margin-bottom-5px" />
      <label asp-for="EncryptValue">Encrypt</label>
    </span>
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite box-shadow">
    <label asp-for="Type">Type</label>
    <select asp-for="Type" class="font-size-20px">
      <option value="">Select Type</option>
      <option value="@Accounting.Business.Secret.SecretTypeConstants.Email">Email</option>
      <option value="@Accounting.Business.Secret.SecretTypeConstants.SMS">SMS</option>
      <option value="@Accounting.Business.Secret.SecretTypeConstants.Cloud">Cloud</option>
    </select>
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite box-shadow">
    <label asp-for="Purpose"></label>
    <input asp-for="Purpose" class="font-size-20px" />
  </div>

  <button type="submit" class="full-width-regular-button">Create Secret</button>

</form>

@if (Model != null && Model.ValidationResult != null)
{
  foreach (var error in Model.ValidationResult.Errors)
  {
    <div>
      <small class="color-red">@error.ErrorMessage</small>
    </div>
  }
  <div class="margin-bottom-5px">
  </div>
}